* 
    margin: 0
    padding: 0

#map 
    height: 100%

html, body 
    height: 100%
    margin: 0
    padding: 0

/* InfoWindow */
.infowindow 
    .title 
        margin: 1rem 0
    .info 
        li 
            font-size: 0.9rem
            margin-bottom: 0.1rem

.lost-members 

