/** ==== Helpers ==== **/
@keyframes animateMessage {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

/** ==== Global ==== **/
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.main-panel > .content {
  padding: 0 15px; }

/** ==== Map ==== **/
#map {
  height: 275px; }
  #map .infowindow .title {
    margin: 1rem 0; }
  #map .infowindow .info li {
    font-size: 0.9rem;
    margin-bottom: 0.1rem; }

/** ==== Table ==== **/
.trips .card {
  margin-top: 0; }

.card table .personal-photo {
  width: 50px;
  height: 50px; }

.card table .notification {
  display: inline-block;
  background: #d1d1d1;
  color: #ffffff;
  min-width: 30px;
  padding: 5px;
  border-radius: 10%; }

.card table .notification-success {
  background: #4caf50; }

.card table .notification-warning {
  background: #ff9800; }

.card table .notification-danger {
  background: #f44336; }

.card table button.option {
  padding: 12px;
  border-radius: 50%; }
  .card table button.option i {
    margin-top: -1.1em; }

/** ==== Sidebar ==== **/
.sidebar .logo {
  padding: 15px; }
  .sidebar .logo img {
    width: 100%; }

.sidebar .chat-container {
  height: 70vh;
  margin: 0 15px;
  background: #ffffff; }
  .sidebar .chat-container .heading {
    font-size: 1.063rem;
    padding: 12px 8px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4); }
  .sidebar .chat-container .chatbox {
    position: relative;
    padding: 5px; }
    .sidebar .chat-container .chatbox li {
      position: relative;
      left: -140%;
      padding: 7px 5px;
      margin: 14px;
      background: #f5f5f5;
      color: #444444;
      list-style: none;
      box-shadow: 0 16px 18px -12px rgba(185, 185, 185, 0.5);
      animation: animateMessage 500ms cubic-bezier(0.02, 1.22, 1, 1) forwards; }
      .sidebar .chat-container .chatbox li .message-title {
        text-transform: none; }
      .sidebar .chat-container .chatbox li p {
        margin-bottom: 0; }
    .sidebar .chat-container .chatbox li:nth-child(1) {
      margin-top: 6px;
      animation-delay: 3s; }
    .sidebar .chat-container .chatbox li:nth-child(2) {
      animation-delay: 6s; }
    .sidebar .chat-container .chatbox li:nth-child(3) {
      animation-delay: 12s; }
    .sidebar .chat-container .chatbox li:nth-child(4) {
      animation-delay: 20s; }

/** ==== Responsive ==== **/
@media all and (min-width: 992px) {
  .navbar {
    display: none !important; } }

@media all and (min-width: 992px) {
  .content {
    margin-top: 0 !important; } }
