* 
    margin: 0
    padding: 0

#map 
    height: 100%

html, body 
    height: 100%
    margin: 0
    padding: 0


/*** Map ***/
#map
    height: 400px


/* InfoWindow */
.infowindow 
    .title 
        margin: 1rem 0
    .info 
        li 
            font-size: 0.9rem
            margin-bottom: 0.1rem

.lost-members 



/*** Admin Panel ***/
.sidebar
    .logo
        padding: 15px
        img
            width: 100%


.personal-photo
    width: 50px
    height: 50px


table 
    .notification
        display: inline-block
        background: #d1d1d1
        color: #ffffff
        min-width: 30px
        padding: 5px
        border-radius: 10%
    .notification-success
        background: #4caf50
    .notification-warning
        background: #ff9800
    .notification-danger
        background: #f44336
    button.option
        padding: 12px
        border-radius: 50%
        i
            margin-top: -1.1em