* {
  margin: 0;
  padding: 0; }

#map {
  height: 100%; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/*** Map ***/
#map {
  height: 400px; }

/* InfoWindow */
.infowindow .title {
  margin: 1rem 0; }

.infowindow .info li {
  font-size: 0.9rem;
  margin-bottom: 0.1rem; }

/*** Admin Panel ***/
.sidebar .logo {
  padding: 15px; }
  .sidebar .logo img {
    width: 100%; }

.personal-photo {
  width: 50px;
  height: 50px; }
